<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>667554443719-mitk80t1l3ji63klinm7rm7a23etbcst.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667554443719-mitk80t1l3ji63klinm7rm7a23etbcst</string>
	<key>API_KEY</key>
	<string>AIzaSyDQtjyeRHOX_Fkdwj1cjQoVC582zqJEFQE</string>
	<key>GCM_SENDER_ID</key>
	<string>667554443719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.niwacan.chat</string>
	<key>PROJECT_ID</key>
	<string>first-chat-b0e70</string>
	<key>STORAGE_BUCKET</key>
	<string>first-chat-b0e70.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667554443719:ios:e79dbd4da9d26aa2b429e2</string>
	<key>DATABASE_URL</key>
	<string>https://first-chat-b0e70-default-rtdb.firebaseio.com</string>
</dict>
</plist>